input
{
	width:13.18em;
	outline: none;
    border: 0px solid #000000;
    border-bottom-width: 5px;
    background-color: transparent;
	font-size:125%;
	font-family: "Nevis";
	-webkit-transition: border-color 0.25s, box-shadow 0.25s; /* Safari */
    transition: border-color 0.25s, box-shadow 0.25s;
}

input:hover, input:focus
{
   border-color: #FFD700;
}

.centerWrapper{
	margin-top: 15vh;
	
}

.select-club-title{
	margin-bottom:.5em; 
}

.clubList{
	position:relative;
	top:3vh;
	font-family:"Nevis";
	font-size:150%;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height:55vh;
	height:0%;
}

.clubLink{
	float:none;
}

.wrapInner{
	opacity: 0;
	transition: opacity 0.15s;
	z-index: -100;
	width: 100%;
	left:0;
	display:inline-flex;
	display:-webkit-inline-flex; /* Safari */
	height: 36px;
	position:absolute;
	background-image: linear-gradient(to right, rgba(255,255,255,0) 10%, #d633ff 40%,#d633ff 60%, rgba(255,255,255,0) 90%);
}

.clubLink:hover .wrapInner{
	opacity:1;
}

.clubLink{
	margin-left:auto;
	margin-right:auto; 
	max-width:15em; 
	cursor: pointer; 
}

.select{
	min-width:800px;
}
	
.highlight{
	color:purple;
}


.fadeout{
	position: absolute;
	left:0px;
    bottom: 0px;
	height:60px;
	width:100%;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 95%); /* Standard syntax (must be last) */
	pointer-events:none;
}

.signInData{
	display:none;
}

@font-face {
	font-family: "Nevis";
	src: url("../fonts/nevis.ttf");
}

.mb-4{
	max-height:0em; 
	margin-top:.4em;
	padding:0em; 
}