input
{
	outline: none;
    border: 0px solid #000000;
    border-bottom-width: 5px;
    background-color: transparent;
	font-size:125%;
	font-family: "Nevis";
	-webkit-transition: border-color 0.25s, box-shadow 0.25s; /* Safari */
    transition: border-color 0.25s, box-shadow 0.25s;
}

input:hover, input:focus
{
   border-color: #FFD700;
}

.centerWrapper{
	margin-top: 15vh;
	
}

.clubList{
	position:relative;
	top:3vh;
	font-family:"Nevis";
	font-size:150%;
	overflow-x: hidden;
	overflow-y: scroll;
	max-height:55vh;
	height:0%;
}

.clubList div{
	float:none;
}

.clubList div a{
	cursor: pointer;
}

.select{
	min-width:800px;
}
	
.highlight{
	color:purple;
}


.fadeout{
	position: absolute;
	left:0px;
    bottom: 0px;
	height:60px;
	width:100%;
	background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1) 95%); /* Standard syntax (must be last) */
	pointer-events:none;
}

.signInData{
	display:none;
}

@font-face {
	font-family: "Nevis";
	src: url("../fonts/nevis.ttf");
}