.btn{
    cursor: pointer;
}

.entireSignInFields{
    margin-top:3em; 
    display:none; 
    font-family: "Nevis"; 
}

#grade-buttons{
    margin-right:1em;
}

.centerLogo{
    margin-top:3em;
    max-width:15em; 
}

#geolocationerror
{
    margin-top:1em; 
    margin-bottom:3em; 
    display:none; 
}

#duplicateerror{
    margin-top:1em; 
    margin-bottom:3em; 
    display:none;
}

#signinbutton
{
    margin-bottom:5em; 
}