.btn{
    cursor: pointer;
}

.entireSignInFields{
    margin-top:3em; 
    display:none; 
    font-family: "Nevis"; 
}

#grade-buttons{
    margin-right:1em;
}

.centerLogo{
    margin-top:3em;
    max-width:15em; 
}

#geolocationerror
{
    margin-top:1em; 
    margin-bottom:3em; 
    display:none; 
}

#signinbutton
{
    margin-bottom:5em; 
}
#remember{
	width: 0;
}
.checkbox {
	user-select:none;
}
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 48px; 
	font-size: 200%;
	}
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 48px;
      height: 48px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 48px;
      height: 48px;
      left: 0;
      top: 0;
      margin-left: -28px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
	  
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::before {
		font-family: 'Nevis';
	  text-align: center;
	  color:white;
	  font-size:32px;
      content: "\2713"; 
      }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }



.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #5bc0de; }
.checkbox-info input[type="checkbox"]:checked + label::after {
  color: #fff; }
